# Analisis Penjualan Kendaraan

Proyek ini menganalisis data penjualan kendaraan menggunakan dataset "Vehicle Sales and Market Trends Dataset".

In [1]:
import sqlite3
import pandas as pd

# Membuat koneksi ke database SQLite
conn = sqlite3.connect('vehicle_sales.db')
cursor = conn.cursor()

## Membuat Tabel

In [2]:
# Membuat tabel VehicleSales
cursor.execute('''
CREATE TABLE VehicleSales (
    sale_id INTEGER PRIMARY KEY AUTOINCREMENT,
    year INTEGER,
    make TEXT,
    model TEXT,
    trim TEXT,
    body_type TEXT,
    transmission TEXT,
    vin TEXT,
    state TEXT,
    condition INTEGER,
    odometer INTEGER,
    exterior_color TEXT,
    interior_color TEXT,
    seller TEXT,
    mmr REAL,
    selling_price REAL,
    sale_date TEXT
)
''')

conn.commit()

## Mengisi Data

Impor data dari CSV ke dalam tabel.

In [3]:
# Membaca data dari CSV
data = pd.read_csv('vehicle_sales.csv')

# Contoh data
data.head()

In [4]:
# Memasukkan data ke tabel VehicleSales
data.to_sql('VehicleSales', conn, if_exists='append', index=False)

## Analisis Data

In [5]:
# Harga rata-rata berdasarkan tahun
query = '''
SELECT year, AVG(selling_price) as avg_price 
FROM VehicleSales 
GROUP BY year 
ORDER BY year
'''
pd.read_sql_query(query, conn)

In [6]:
# Jumlah penjualan berdasarkan merek
query = '''
SELECT make, COUNT(*) as total_sales 
FROM VehicleSales 
GROUP BY make 
ORDER BY total_sales DESC
LIMIT 10
'''
pd.read_sql_query(query, conn)

In [7]:
# Pengaruh kondisi dan jarak tempuh terhadap harga jual
query = '''
SELECT condition, AVG(selling_price) as avg_price, AVG(odometer) as avg_odometer 
FROM VehicleSales 
GROUP BY condition 
ORDER BY condition
'''
pd.read_sql_query(query, conn)

## Penutupan Koneksi

In [8]:
# Menutup koneksi ke database
conn.close()